@model IEnumerable<baithi.Models.loai>

@{
    ViewBag.Title = "Thể loại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

@if (TempData["AlertMessage"] != null)
{
    <div id="AlertBox" class="alert @TempData["AlertType"] hide">
        @TempData["AlertMessage"]
    </div>
}
<script>
    $("#AlertBox").removeClass("hide");
    $("#AlertBox").delay(3000).slideUp(500);
</script>

<p class="create" style="text-align:left">
    @Html.ActionLink("Thêm thể loại mới", "Create")
</p>


<table class="table">
    <tr>
        <th>
            Tên loại
        </th>
        <th>
            Công dụng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenloai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.congdung)
            </td>
            <td class="custom-icon">
                @Html.ActionLink("Sửa", "Edit", new { id = item.IDloai }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.IDloai })
            </td>
        </tr>
    }

</table>
